<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <title>Edit Project Page</title>
  </head>
  <body>
    <h1>Edit Project Page</h1>
    <form action="/projects/<%=project.id%>?_method=PUT" method="POST">
      Name:
      <input type="text" name="name" value="<%=project.name%>" /><br /><br />
      Color:
      <input type="text" name="color" value="<%=project.color%>" /><br /><br />
      Is Ready To Eat:
      <input type="checkbox" name="readyToEat" />
      <% if(project.readyToEat === true) { %> checked <% } %><br /><br />
      <input type="submit" name="" value="Submit Changes" />
    </form>
  </body>
</html>
