<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <title>Projects Index Page</title>
  </head>
  <body>
    <h1>Projects Index Page</h1>
    <ul>
      <% for(let i = 0; i < projects.length; i++){ %>
      <li>
        Project Name:
        <a href="/projects/<%= projects[i].id %>">
          <%=projects[i].projectName; %> </a
        ><br />
        <% if(projects[i].agile === true){ %> Agile: Yes <br /><% } else { %>
        Agile: Not Applicable. <br /><% } %> <% if(projects[i].kanban === true){
        %> Kanban: Yes<br />
        <% } else { %> Kanban: Not Applicable <br /><% } %>
        <form
          action="/projects/<%=projects[i].id; %>?_method=DELETE"
          method="POST"
        >
          <input type="submit" value="DELETE" />
        </form>
        <a href="/projects/<%=projects[i].id; %>/edit">Edit</a>
      </li>
      <% } %>
    </ul>
    <nav>
      <a href="/projects/new">Create a New Project</a>
    </nav>
  </body>
</html>
