<!DOCTYPE html>
<html lang="en">
    <head>
        <link rel="stylesheet" href="/css/app.css">    
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Fruits Index</title>
    </head>

    <body>
        <h1>Fruits Index Page</h1>
        <nav>
            <a href="/fruits/new">Create a New Fruit</a>
        </nav>        
        <ul>
            <% allFruits.forEach((fruit, index) => { %>
                <li>
                    <a href="/fruits/<%= index %>"> <%= fruit.name %></a>
                    <form action="/fruits/<%= index %>?_method=DELETE" method="POST">
                        <input type="submit" value="DELETE"/>
                    </form>
                    <a href="/fruits/<%=index %>/edit">Edit</a>
                </li>
            <% }) %>
        </ul>
    </body>
</html>