<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <title>New Project Page</title>
  </head>
  <body>
    <h1>New Project page</h1>
    <form action="/projects" method="POST">
      Project Name: <input type="text" name="projectName" /><br /><br />
      Agile: <input type="checkbox" name="agile" /><br /><br />
      Kanban: <input type="checkbox" name="kanban" /><br /><br />
      <input type="submit" name="" value="Create Project" />
    </form>
  </body>
</html>
