<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <title>New Project</title>
  </head>
  <body>
    <h1>New Project</h1>
    <form action="/projects" method="POST">
      Project Name: <input type="text" name="projectName" /><br /><br />
      Agile: <input type="checkbox" name="agile" /><br /><br />
      Kanban: <input type="checkbox" name="kanban" /><br /><br />
      Member
      <form action="/projects/new" method="POST">
        <input type="submit" value="ADD" />
        <input type="submit" value="DELETE" />
        <input
          type="text"
          name="member"
          style="display: flex; margin-top: 5px"
          placeholder="Name"
        /><br /><br />
      </form>
      <input type="submit" name="" value="CREATE PROJECT" />
    </form>
  </body>
</html>
