<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title>Fruits Show Page</title>
    </head>
    <body>
      <h1>Fruits show page</h1>
      The <%=fruit.name; %> is  <%=fruit.color; %>.
      <% if(fruit.readyToEat === true){ %>
          It is ready to eat.<br /><br />
      <% } else { %>
          It is not ready to eat.<br /><br />
      <% } %>
      <nav>
          <a href="/fruits">Back to Fruits Index</a>
      </nav>
    </body>
</html>
