<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <title>Projects Show Page</title>
  </head>
  <body>
    <h1>Projects Show Page</h1>
    The <%=project.name; %> is <%=project.color; %>. <% if(project.readyToEat
    === true){ %> It is ready to eat.<br /><br />
    <% } else { %> It is not ready to eat.<br /><br />
    <% } %>
    <nav>
      <a href="/projects">Back to Projects Index</a>
    </nav>
  </body>
</html>
